body {
    background: rgb(237, 249, 254);
    color: rgb(0, 28, 85);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0px 48px;
    font-size: 18px;
    padding-left: 16px;
}

.logo span {
    font-weight: bold;
    font-family: "Playwrite NL", cursive;
    margin: 16px;
}

.nav-links a {
    margin: 0px 12px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 28, 85);
    text-decoration: none;
}

section {
    margin: 48px;
}

#home, #education, #skills, #contact, #projects, #address {
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 28, 85);
    /* margin-top: 40px; */
}

.greet {
    width: 50%;
    padding: 32px;
}

.greet-img {
    width: 50%;
}

.greet-img img {
    height: 600px;
    width: 100%;
}

.greet .name {
    font-size: 60px;
    font-weight: bold;
}

.greet .post {
    font-size: 32px;
}

.greet .about {
    font-size: 28px;
    opacity: 0.7;
}

.social-media {
    margin-top: 36px;
}

.social-media img {
    height: 44px;
    width: 44px;
    margin-right: 20px;
}

.repo {
    color: white;
    background-color: rgb(0, 28, 85);
    margin-top: 28px;
    font-size: 20px;
}

.repo a {
    text-decoration: none;
    color: white;
}

.repo:hover {
    background-color: rgb(0, 28, 85);
    color: white;
    transform: scale(1.02);
}


.work-detail {
    display: flex;
}

#work .work-title {
    width: 100%;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0px 30px 0px;
}

.work-img {
    width: 50%;
}

.work-info {
    width: 50%;
    padding: 32px;
}

.work-img img {
    height: 600px;
    width: 100%;
}

.dsgn {
    font-size: 50px;
}

.tech-icon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.tech-icon i {
    font-size: 64px;
    margin: 20px;
}

.tech-icon img {
    height: 64px;
    width: 64px;
    margin: 20px;
}

.work-info ul {
    font-size: 30px;
}

footer {
    /* font-family: "Playwrite NL", cursive; */
    font-size: 24px;
    text-align: center;
    margin: 12px 0px;
    opacity: 0.8;
}

footer span {
    font-size: 24px;
    color: red;
}

.edu-img {
    width: 50%;
}

.edu-img img {
    height: 600px;
    width: 100%;
    margin-left: -30px;
}

.degree, .hsc, .ssc {
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #d9dbdf;
    padding-bottom: 4px;
}

.title {
    color: rgb(0, 28, 85);
    background-color: rgba(14, 107, 168, 0.467);
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
}

.dur {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
}

.branch {
    font-size: 17px;
    margin-top: 8px;
}

.edu-info {
    width: 50%;
    padding: 32px;
}

.edu-detail {
    margin: 16px;
}

.edu-detail ul li{
    margin-bottom: 8px;
    font-size: 18px;
}

.visit {
    display: flex;
    justify-content: end;
    margin-top: -12px;
}

#skills {
    margin: 100px;
    justify-content: space-around;
    /* background-color: rgb(36, 36, 36); */
}

#skills .card {
    width: 350px;
    margin-bottom: 30px;
    background-color: rgb(0, 28, 85);;
    text-align: center;
    color: rgb(255, 255, 255);
}

#skills img {
    height: 180px;
    width: 180px;
    margin: 0px auto;
}

#skills .js img {
    height: 150px;
    width: 150px;
    margin-top: 24px;
    border-radius: 0px;
}

#skills .database img {
    height: 160px;
    width: 160px;
    margin-top: 16px;
}

#skills .card:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}

.contact-img {
    width: 50%;
}

.contact-img img {
    height: 450px;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.contact-me {
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.contact-detail {
    width: 50%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-detail p {
    font-size: 24px;
    opacity: 0.6;
    margin-top: 30px;
}

#address {
    margin: 48px;
    text-align: center;
    padding: 48px;
}

.map {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-img {
    width: 50%;
}

.address-img img {
    width: 90%;
    height: 500px;
}

.adr-title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 40px;
}

.adr {
    font-size: 24px;
    margin-top: 8px;
    opacity: 0.7;
}

.map a {
    margin-top: 48px;
    background-color: rgb(0, 28, 85);
    color: white;
    font-size: 18px;
    padding: 8px 12px;
}

.project-img {
    width: 50%;
}

.pro-greet {
    width: 50%;
    text-align: center;
    /* margin: auto; */
}

.pro-greet h1 {
    font-size: 48px;
    margin: 36px auto;
}

.pro-greet p {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 500;
    margin: 24px auto;
}

.project-img img {
    height: 90%;
    width: 90%;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.project-card .pro {
    background-color: rgb(166, 225, 250);
    border: 1px solid black;
    width: 30%;
    height: 200px;
    margin-bottom: 32px;
    padding: 20px;
}

.project-card .pro:hover {
    box-shadow: 0px 8px 16px rgba(38, 43, 46, 0.3);
}

.pro-title {
    font-size: 28px;
    font-weight: 500;
}

.discription {
    font-size: 18px;
}